<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#orga1aafc9">1. Events</a>
<ul>
<li><a href="#org20a0690">1.1. Birthdays</a>
<ul>
<li><a href="#org66d616a">1.1.1. <span class="todo TODO">TODO</span> Dad</a></li>
<li><a href="#orgaeeeca7">1.1.2. <span class="todo EVENT">EVENT</span> Daffern</a></li>
<li><a href="#org74d5f44">1.1.3. <span class="todo EVENT">EVENT</span> Phil</a></li>
<li><a href="#orge0718fe">1.1.4. <span class="todo EVENT">EVENT</span> Mom</a></li>
<li><a href="#org90d4e2c">1.1.5. <span class="todo EVENT">EVENT</span> Nick</a></li>
<li><a href="#org88c2809">1.1.6. <span class="todo EVENT">EVENT</span> Brother</a></li>
<li><a href="#orgdf58654">1.1.7. <span class="todo EVENT">EVENT</span> Dustin</a></li>
<li><a href="#org1030b09">1.1.8. <span class="todo EVENT">EVENT</span> Jack</a></li>
<li><a href="#org12b9f3d">1.1.9. <span class="todo EVENT">EVENT</span> Shannon</a></li>
<li><a href="#orgfc09983">1.1.10. <span class="todo EVENT">EVENT</span> Christian</a></li>
<li><a href="#org51bd689">1.1.11. <span class="todo EVENT">EVENT</span> Jeremiah</a></li>
<li><a href="#orge16de0d">1.1.12. <span class="todo EVENT">EVENT</span> Morgan</a></li>
<li><a href="#org74d8c79">1.1.13. <span class="todo EVENT">EVENT</span> Andrew</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>

<div id="outline-container-orga1aafc9" class="outline-2">
<h2 id="orga1aafc9"><span class="section-number-2">1</span> Events</h2>
<div class="outline-text-2" id="text-1">
</div>
<div id="outline-container-org20a0690" class="outline-3">
<h3 id="org20a0690"><span class="section-number-3">1.1</span> Birthdays</h3>
<div class="outline-text-3" id="text-1-1">
</div>
<div id="outline-container-org66d616a" class="outline-4">
<h4 id="org66d616a"><span class="section-number-4">1.1.1</span> <span class="todo TODO">TODO</span> Dad</h4>
<div class="outline-text-4" id="text-1-1-1">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2019-08-19 Mon +1y&gt;</span></span></p>
</div>
</div>
<div id="outline-container-orgaeeeca7" class="outline-4">
<h4 id="orgaeeeca7"><span class="section-number-4">1.1.2</span> <span class="todo EVENT">EVENT</span> Daffern</h4>
<div class="outline-text-4" id="text-1-1-2">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2019-09-21 Sat +1y&gt;</span></span></p>
</div>
</div>
<div id="outline-container-org74d5f44" class="outline-4">
<h4 id="org74d5f44"><span class="section-number-4">1.1.3</span> <span class="todo EVENT">EVENT</span> Phil</h4>
<div class="outline-text-4" id="text-1-1-3">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2019-10-13 Sun +1y&gt;</span></span></p>
</div>
</div>
<div id="outline-container-orge0718fe" class="outline-4">
<h4 id="orge0718fe"><span class="section-number-4">1.1.4</span> <span class="todo EVENT">EVENT</span> Mom</h4>
<div class="outline-text-4" id="text-1-1-4">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2019-10-20 Sun +1y&gt;</span></span></p>
</div>
</div>
<div id="outline-container-org90d4e2c" class="outline-4">
<h4 id="org90d4e2c"><span class="section-number-4">1.1.5</span> <span class="todo EVENT">EVENT</span> Nick</h4>
<div class="outline-text-4" id="text-1-1-5">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2019-11-20 Wed +1y&gt;</span></span></p>
</div>
</div>
<div id="outline-container-org88c2809" class="outline-4">
<h4 id="org88c2809"><span class="section-number-4">1.1.6</span> <span class="todo EVENT">EVENT</span> Brother</h4>
<div class="outline-text-4" id="text-1-1-6">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2019-12-24 Tue +1y&gt;</span></span></p>
</div>
</div>
<div id="outline-container-orgdf58654" class="outline-4">
<h4 id="orgdf58654"><span class="section-number-4">1.1.7</span> <span class="todo EVENT">EVENT</span> Dustin</h4>
<div class="outline-text-4" id="text-1-1-7">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2020-03-13 Fri +1y&gt;</span></span></p>
<ul class="org-ul">
<li>State "DONE"       from "TODO"       <span class="timestamp-wrapper"><span class="timestamp">[2019-07-28 Sun 07:19]</span></span></li>
</ul>
</div>
</div>
<div id="outline-container-org1030b09" class="outline-4">
<h4 id="org1030b09"><span class="section-number-4">1.1.8</span> <span class="todo EVENT">EVENT</span> Jack</h4>
<div class="outline-text-4" id="text-1-1-8">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2020-03-28 Sat +1y&gt;</span></span></p>
<ul class="org-ul">
<li>State "DONE"       from "TODO"       <span class="timestamp-wrapper"><span class="timestamp">[2019-07-28 Sun 07:19]</span></span></li>
</ul>
</div>
</div>
<div id="outline-container-org12b9f3d" class="outline-4">
<h4 id="org12b9f3d"><span class="section-number-4">1.1.9</span> <span class="todo EVENT">EVENT</span> Shannon</h4>
<div class="outline-text-4" id="text-1-1-9">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2020-04-01 Wed +1y&gt;</span></span></p>
<ul class="org-ul">
<li>State "DONE"       from "TODO"       <span class="timestamp-wrapper"><span class="timestamp">[2019-07-28 Sun 07:10]</span></span></li>
</ul>
</div>
</div>
<div id="outline-container-orgfc09983" class="outline-4">
<h4 id="orgfc09983"><span class="section-number-4">1.1.10</span> <span class="todo EVENT">EVENT</span> Christian</h4>
<div class="outline-text-4" id="text-1-1-10">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2020-04-17 Fri +1y&gt;</span></span></p>
<ul class="org-ul">
<li>State "DONE"       from "TODO"       <span class="timestamp-wrapper"><span class="timestamp">[2019-07-28 Sun 07:19]</span></span></li>
</ul>
</div>
</div>
<div id="outline-container-org51bd689" class="outline-4">
<h4 id="org51bd689"><span class="section-number-4">1.1.11</span> <span class="todo EVENT">EVENT</span> Jeremiah</h4>
<div class="outline-text-4" id="text-1-1-11">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2020-05-15 Fri +1y&gt;</span></span></p>
<ul class="org-ul">
<li>State "DONE"       from "TODO"       <span class="timestamp-wrapper"><span class="timestamp">[2019-07-28 Sun 07:19]</span></span></li>
</ul>
</div>
</div>
<div id="outline-container-orge16de0d" class="outline-4">
<h4 id="orge16de0d"><span class="section-number-4">1.1.12</span> <span class="todo EVENT">EVENT</span> Morgan</h4>
<div class="outline-text-4" id="text-1-1-12">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2020-07-02 Thu +1y&gt;</span></span></p>
<ul class="org-ul">
<li>State "DONE"       from "TODO"       <span class="timestamp-wrapper"><span class="timestamp">[2019-07-28 Sun 07:19]</span></span></li>
</ul>
</div>
</div>
<div id="outline-container-org74d8c79" class="outline-4">
<h4 id="org74d8c79"><span class="section-number-4">1.1.13</span> <span class="todo EVENT">EVENT</span> Andrew</h4>
<div class="outline-text-4" id="text-1-1-13">
<p><span class="timestamp-wrapper"><span class="timestamp-kwd">DEADLINE:</span> <span class="timestamp">&lt;2020-07-21 Tue +1y&gt;</span></span></p>
<ul class="org-ul">
<li>State "DONE"       from "TODO"       <span class="timestamp-wrapper"><span class="timestamp">[2019-07-28 Sun 07:14]</span></span></li>
</ul>
<p>
DEADLINE: <span class="timestamp-wrapper"><span class="timestamp">&lt;2019-11-20 Wed +1y&gt;</span></span>
</p>
</div>
</div>
</div>
</div>
