.Org-content {

  font-family:"Roboto", "Helvetica", "Arial", sans-serif !important;

  padding-top:20px;
  padding-bottom:20px;

  & .Org-title {
    font-size:40px;
  }

  & h2,h3,h4,h5,h6 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
    font-weight:400;
  }

  & table {
    display:block;
    overflow:auto;
    width:100%;
    & tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }

    & tr td,
    & tr th {
      border: 1px solid #dfe2e5;
      padding: 6px 13px;
    }

    & tbody tr:nth-child(2n) {
      background-color: #f6f8fa;
    }

  }

  & .org-dl dt {
    font-weight:bold;
    padding-left:20px;
  }

}

