
.App {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  width:100%;
  margin: 0 auto;

  // @media (min-width: 350px) and (max-width:750px) {
  //   width:100%;
  // }
}

main {
  flex:1;
  background:#fafafa;
  padding:10px;
}